<mat-toolbar color="black">
  
  <div fxFlex fxLayout fxLayoutAlign="end" >
    <ul>
  <li><a routerLinkActive="active" *ngIf="userLoggedOut()" routerLink="login">Log In</a></li>
  <li><a routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="recipe">Recipes</a></li>
  <li><a routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="home">Home</a></li>
  <li><a routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="profile">Profile</a></li>
  <li><a routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="forum">Forum</a></li>
  <li><a routerLinkActive="active" *ngIf="userLoggedIn()" (click)='onLogout()'>Logout</a></li>

</ul>



  <h1>Recipes App</h1>


  <span style="flex:1 1 auto"></span>
  




  
</div>
</mat-toolbar>
