<mat-toolbar color="black">
  
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedOut()" routerLink="login">Log In</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="recipe">Recipes</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="home">Home</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="profile">Profile</button>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" routerLink="forum">Forum</button>



  <h1>Recipes App</h1>


  <span style="flex:1 1 auto"></span>
  <button mat-button routerLinkActive="active" *ngIf="userLoggedIn()" (click)='onLogout()'>Logout</button>
  




  
</div>
</mat-toolbar>
