<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sligo Sounds - Events</title>


<!--Main content feed-->
<div class='card'>
  <mat-card-actions>
  <button mat-button style="color: red" (click)='breakfastResults()'>Appetizers</button>
  <button mat-button style="color: rgb(0, 255, 21)" (click)='mainsResults()'>Mains</button>
  <button mat-button style="color: rgb(0, 60, 255)" (click)='dessertsResults()'>Desserts</button>
  <div class="wrap">
      <div class="search">
        <input type="search" id="searchTerm" name="searchTerm" [(ngModel)]=foodName placeholder="Search for a recipe.." >
      </div>
      <div class="control">
        <button class="searchbutton" (click)="getFood()" type="submit">Search</button>
      </div>
    </div>
</mat-card-actions>
<div *ngFor='let matches of data.matches'>


<img  src="{{matches.smallImageUrls}}" alt="event-img">
<div class="recipes">
<h2><a class="link" routerLink='{{ matches.id }}'>{{matches.recipeName}}</a></h2>
<h4>Ingredients:</h4> <p>{{matches.ingredients}}</p>
</div> 


</div>
</div>
<hr>

    
          
        
        
  
  
  
  
