h1 {
    color: gold;
}

.body {
    background-color: rgb(100, 59, 59);
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

img {
    border: 5px solid;
    max-width: 100%;
}


.card{
    background-image: url('https://st.depositphotos.com/2007501/4502/i/950/depositphotos_45028393-stock-photo-red-and-white-checkered-picnic.jpg');
}

p {
    color: white;
}

h2 {
    color: gold;
}